<div class="row">
    <div class="col">
        <h2>NgIf</h2>
        <hr>
        <div 
            class="card text-white bg-primary mb-3" 
            style="max-width: 18rem;" 
            *ngIf="btnActivo"
        >
            <div class="card-body">
                <h5 class="card-title">Primary card title</h5>
                <p class="card-text">
                    {{ frase }}
                </p>
            </div>
        </div>
        <div class="btn btn-outline-primary" (click)="onClickBtn()">show / hidden</div>
    </div>
    <div class="col">
        <h2>NgFor</h2>
        <hr>
        <ul class="list-group">
            <li 
                class="list-group-item" 
                *ngFor="let personaje of personajes"
            >
                {{ personaje }}
            </li>
          </ul>
    </div>
</div>